@addTagHelper *, ItVisShop
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="ads_xl ads__products__xl">
    <div class="container">
        <div class="ads_xl_container">
            <div class="ads_xl_background" style="background-image:url(../img/Products/category.jpg);"></div>
            <div class="ads__products__title">Все лучшее в <span style="color: cornflowerblue;">ItVis</span></div>
        </div>
    </div>
</div>  

<div class="products">
    <div class="container">
        <div class="products-container">
            @{
                foreach (var item in Model.Products)
                {
                    <div class="product">
                        <div class="product__image">
                            <img src="@item.MainImage">
                        </div>
                        <div class="product__content">
                            <div class="product__title">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">@item.Brand.BrandName @item.Model</a>
                            </div>
                            <div class="product__price">@item.Price.ToString("c")</div>
                        </div>
                    </div>
                }
            }
        </div>
        <page-link-tag-helpers page-model="@Model.PageModel" page-action="Products" current-category="@Model.CurrentCategory"></page-link-tag-helpers>
    </div>
</div>

<div class="icon-boxes">
    <div class="container">
        <div class="icon-boxes-container">
            <div class="icon-box">
                <div class="icon-box__image"><img src="~/img/home/icon_1.svg" /></div>
                    <div class="icon-box__title">Бесплатная доставка</div>
                    <div class="icon-box__text">Бесплатно доставим ваш товар по всей России</div>
            </div>            
            <div class="icon-box">
                <div class="icon-box__image"><img src="~/img/home/icon_2.svg" /></div>
                    <div class="icon-box__title">Бесплатный возврат</div>
                    <div class="icon-box__text">Верните товар, если товар не подошел</div>
            </div>
            <div class="icon-box">
                <div class="icon-box__image"><img src="~/img/home/icon_3.svg" /></div>
                    <div class="icon-box__title">Поддержка 24/7</div>
                    <div class="icon-box__text">Остались вопросы? Мы ответим вам в любое время</div>
            </div>
        </div>
    </div>
</div>

<div class="newsletter">
    <div class="container">
        <div class="newsletter__border"></div>
        <div class="newsletter__content">
            <div class="newsletter__content__title">
                Подписывайтесь на наши рассылки
            </div>
            <div class="newsletter__content__text">
                Подпишитесь на рассылки, чтобы узнавать об акция первым
            </div>
            <div class="newsletter__content__form">
                <form method="post">
                    <input class="newsletter__input" type="email" />
                    <button class="newsletter__button" type="submit">Подписаться</button>
                </form>
            </div>
        </div>
    </div>
</div>

